In [66]:
import numpy as np
import pandas as pd

In [67]:
df = pd.read_csv(r"C:\Users\ADMIN\Downloads\full.csv",error_bad_lines=False)
df

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12116\587505210.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(r"C:\Users\ADMIN\Downloads\full.csv",error_bad_lines=False)
b'Skipping line 71: expected 26 fields, saw 27\nSkipping line 74: expected 26 fields, saw 27\nSkipping line 371: expected 26 fields, saw 27\n'

,id,'age','bp','sg','al','su','rbc','pc','pcc','ba',...,'pcv','wbcc','rbcc','htn','dm','cad','appet','pe','ane','class'
0,1,48,80,1.020,1,0,?,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,2,7,50,1.020,4,0,?,normal,notpresent,notpresent,...,38,6000,?,no,no,no,good,no,no,ckd
2,3,62,80,1.010,2,3,normal,normal,notpresent,notpresent,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,4,48,70,1.005,4,0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,5,51,80,1.010,2,0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,396,55,80,1.020,0,0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
393,397,42,70,1.025,0,0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
394,398,12,80,1.020,0,0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
395,399,17,60,1.025,0,0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
396,400,58,80,1.025,0,0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [71]:
df[["'htn'","'dm'","'cad'","'pe'","'ane'"]] = df[["'htn'","'dm'","'cad'","'pe'","'ane'"]].replace(to_replace={'yes':1,'no':0})
df[["'pcc'","'ba'"]] = df[["'pcc'","'ba'"]].replace(to_replace={'present':1,'notpresent':0})

In [14]:

df[["'rbc'","'pc'"]] = df[["'rbc'","'pc'"]].replace(to_replace={'abnormal':1,'normal':0})
df[["'appet'"]] = df[["'appet'"]].replace(to_replace={'good':1,'poor':0,'no':np.nan})
df["'class'"] = df["'class'"].replace(to_replace={'ckd':1.0,'ckd\t':1.0,'notckd':0.0,'no':0.0})

In [15]:

df["'pe'"] = df["'pe'"].replace(to_replace='good',value=0) # Not having pedal edema is good
df["'appet'"] = df["'appet'"].replace(to_replace='no',value=0)
df["'cad'"] = df["'cad'"].replace(to_replace='\tno',value=0)
df["'dm'"] = df["'dm'"].replace(to_replace={'\tno':0,'\tyes':1,' yes':1, '':np.nan})
df.drop('id',axis=1,inplace=True)

In [16]:
df.head()

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'pcv','wbcc','rbcc','htn','dm','cad','appet','pe','ane','class'
0,48,80,1.020,1,0,?,0,0,0,121,...,44,7800,5.2,1,1,0,1,0,0,1.0
1,7,50,1.020,4,0,?,0,0,0,?,...,38,6000,?,0,0,0,1,0,0,1.0
2,62,80,1.010,2,3,0,0,0,0,423,...,31,7500,?,0,1,0,0,0,1,1.0
3,48,70,1.005,4,0,0,1,1,0,117,...,32,6700,3.9,1,0,0,0,1,1,1.0
4,51,80,1.010,2,0,0,0,0,0,106,...,35,7300,4.6,0,0,0,1,0,0,1.0

In [17]:
df.replace(to_replace="?", value=np.nan)

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'pcv','wbcc','rbcc','htn','dm','cad','appet','pe','ane','class'
0,48,80,1.020,1,0,NaN,0.0,0.0,0.0,121,...,44,7800,5.2,1.0,1.0,0.0,1.0,0.0,0.0,1.0
1,7,50,1.020,4,0,NaN,0.0,0.0,0.0,NaN,...,38,6000,NaN,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,62,80,1.010,2,3,0.0,0.0,0.0,0.0,423,...,31,7500,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,32,6700,3.9,1.0,0.0,0.0,0.0,1.0,1.0,1.0
4,51,80,1.010,2,0,0.0,0.0,0.0,0.0,106,...,35,7300,4.6,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0.0,0.0,0.0,0.0,140,...,47,6700,4.9,0.0,0.0,0.0,1.0,0.0,0.0,0.0
393,42,70,1.025,0,0,0.0,0.0,0.0,0.0,75,...,54,7800,6.2,0.0,0.0,0.0,1.0,0.0,0.0,0.0
394,12,80,1.020,0,0,0.0,0.0,0.0,0.0,100,...,49,6600,5.4,0.0,0.0,0.0,1.0,0.0,0.0,0.0
395,17,60,1.025,0,0,0.0,0.0,0.0,0.0,114,...,51,7200,5.9,0.0,0.0,0.0,1.0,0.0,0.0,0.0
396,58,80,1.025,0,0,0.0,0.0,0.0,0.0,131,...,53,6800,6.1,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [18]:
df2 = df.dropna(axis=0)
df2["'class'"].value_counts()

1.0    248
0.0    149
Name: 'class', dtype: int64

In [19]:
df2

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'pcv','wbcc','rbcc','htn','dm','cad','appet','pe','ane','class'
0,48,80,1.020,1,0,?,0,0,0,121,...,44,7800,5.2,1,1,0,1,0,0,1.0
1,7,50,1.020,4,0,?,0,0,0,?,...,38,6000,?,0,0,0,1,0,0,1.0
2,62,80,1.010,2,3,0,0,0,0,423,...,31,7500,?,0,1,0,0,0,1,1.0
3,48,70,1.005,4,0,0,1,1,0,117,...,32,6700,3.9,1,0,0,0,1,1,1.0
4,51,80,1.010,2,0,0,0,0,0,106,...,35,7300,4.6,0,0,0,1,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0,0,0,0,140,...,47,6700,4.9,0,0,0,1,0,0,0.0
393,42,70,1.025,0,0,0,0,0,0,75,...,54,7800,6.2,0,0,0,1,0,0,0.0
394,12,80,1.020,0,0,0,0,0,0,100,...,49,6600,5.4,0,0,0,1,0,0,0.0
395,17,60,1.025,0,0,0,0,0,0,114,...,51,7200,5.9,0,0,0,1,0,0,0.0
396,58,80,1.025,0,0,0,0,0,0,131,...,53,6800,6.1,0,0,0,1,0,0,0.0

In [20]:
df2 = df.dropna(axis=0)

In [21]:
df2

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'pcv','wbcc','rbcc','htn','dm','cad','appet','pe','ane','class'
0,48,80,1.020,1,0,?,0,0,0,121,...,44,7800,5.2,1,1,0,1,0,0,1.0
1,7,50,1.020,4,0,?,0,0,0,?,...,38,6000,?,0,0,0,1,0,0,1.0
2,62,80,1.010,2,3,0,0,0,0,423,...,31,7500,?,0,1,0,0,0,1,1.0
3,48,70,1.005,4,0,0,1,1,0,117,...,32,6700,3.9,1,0,0,0,1,1,1.0
4,51,80,1.010,2,0,0,0,0,0,106,...,35,7300,4.6,0,0,0,1,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0,0,0,0,140,...,47,6700,4.9,0,0,0,1,0,0,0.0
393,42,70,1.025,0,0,0,0,0,0,75,...,54,7800,6.2,0,0,0,1,0,0,0.0
394,12,80,1.020,0,0,0,0,0,0,100,...,49,6600,5.4,0,0,0,1,0,0,0.0
395,17,60,1.025,0,0,0,0,0,0,114,...,51,7200,5.9,0,0,0,1,0,0,0.0
396,58,80,1.025,0,0,0,0,0,0,131,...,53,6800,6.1,0,0,0,1,0,0,0.0

In [22]:
df = df.replace(to_replace="?", value=np.nan)
df

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'pcv','wbcc','rbcc','htn','dm','cad','appet','pe','ane','class'
0,48,80,1.020,1,0,NaN,0.0,0.0,0.0,121,...,44,7800,5.2,1.0,1.0,0.0,1.0,0.0,0.0,1.0
1,7,50,1.020,4,0,NaN,0.0,0.0,0.0,NaN,...,38,6000,NaN,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,62,80,1.010,2,3,0.0,0.0,0.0,0.0,423,...,31,7500,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,32,6700,3.9,1.0,0.0,0.0,0.0,1.0,1.0,1.0
4,51,80,1.010,2,0,0.0,0.0,0.0,0.0,106,...,35,7300,4.6,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0.0,0.0,0.0,0.0,140,...,47,6700,4.9,0.0,0.0,0.0,1.0,0.0,0.0,0.0
393,42,70,1.025,0,0,0.0,0.0,0.0,0.0,75,...,54,7800,6.2,0.0,0.0,0.0,1.0,0.0,0.0,0.0
394,12,80,1.020,0,0,0.0,0.0,0.0,0.0,100,...,49,6600,5.4,0.0,0.0,0.0,1.0,0.0,0.0,0.0
395,17,60,1.025,0,0,0.0,0.0,0.0,0.0,114,...,51,7200,5.9,0.0,0.0,0.0,1.0,0.0,0.0,0.0
396,58,80,1.025,0,0,0.0,0.0,0.0,0.0,131,...,53,6800,6.1,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [23]:
df2 = df.dropna()
df2

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'pcv','wbcc','rbcc','htn','dm','cad','appet','pe','ane','class'
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,32,6700,3.9,1.0,0.0,0.0,0.0,1.0,1.0,1.0
9,53,90,1.020,2,0,1.0,1.0,1.0,0.0,70,...,29,12100,3.7,1.0,1.0,0.0,0.0,0.0,1.0,1.0
11,63,70,1.010,3,0,1.0,1.0,1.0,0.0,380,...,32,4500,3.8,1.0,1.0,0.0,0.0,1.0,0.0,1.0
14,68,80,1.010,3,2,0.0,1.0,1.0,1.0,157,...,16,11000,2.6,1.0,1.0,1.0,0.0,1.0,0.0,1.0
20,61,80,1.015,2,0,1.0,1.0,0.0,0.0,173,...,24,9200,3.2,1.0,1.0,1.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0.0,0.0,0.0,0.0,140,...,47,6700,4.9,0.0,0.0,0.0,1.0,0.0,0.0,0.0
393,42,70,1.025,0,0,0.0,0.0,0.0,0.0,75,...,54,7800,6.2,0.0,0.0,0.0,1.0,0.0,0.0,0.0
394,12,80,1.020,0,0,0.0,0.0,0.0,0.0,100,...,49,6600,5.4,0.0,0.0,0.0,1.0,0.0,0.0,0.0
395,17,60,1.025,0,0,0.0,0.0,0.0,0.0,114,...,51,7200,5.9,0.0,0.0,0.0,1.0,0.0,0.0,0.0
396,58,80,1.025,0,0,0.0,0.0,0.0,0.0,131,...,53,6800,6.1,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [24]:
df2["'class'"].value_counts()

0.0    114
1.0     43
Name: 'class', dtype: int64

In [25]:
df2.dtypes

'age'       object
'bp'        object
'sg'        object
'al'        object
'su'        object
'rbc'      float64
'pc'       float64
'pcc'      float64
'ba'       float64
'bgr'       object
'bu'        object
'sc'        object
'sod'       object
'pot'       object
'hemo'      object
'pcv'       object
'wbcc'      object
'rbcc'      object
'htn'      float64
'dm'       float64
'cad'      float64
'appet'    float64
'pe'       float64
'ane'      float64
'class'    float64
dtype: object

In [26]:

df2

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'pcv','wbcc','rbcc','htn','dm','cad','appet','pe','ane','class'
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,32,6700,3.9,1.0,0.0,0.0,0.0,1.0,1.0,1.0
9,53,90,1.020,2,0,1.0,1.0,1.0,0.0,70,...,29,12100,3.7,1.0,1.0,0.0,0.0,0.0,1.0,1.0
11,63,70,1.010,3,0,1.0,1.0,1.0,0.0,380,...,32,4500,3.8,1.0,1.0,0.0,0.0,1.0,0.0,1.0
14,68,80,1.010,3,2,0.0,1.0,1.0,1.0,157,...,16,11000,2.6,1.0,1.0,1.0,0.0,1.0,0.0,1.0
20,61,80,1.015,2,0,1.0,1.0,0.0,0.0,173,...,24,9200,3.2,1.0,1.0,1.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0.0,0.0,0.0,0.0,140,...,47,6700,4.9,0.0,0.0,0.0,1.0,0.0,0.0,0.0
393,42,70,1.025,0,0,0.0,0.0,0.0,0.0,75,...,54,7800,6.2,0.0,0.0,0.0,1.0,0.0,0.0,0.0
394,12,80,1.020,0,0,0.0,0.0,0.0,0.0,100,...,49,6600,5.4,0.0,0.0,0.0,1.0,0.0,0.0,0.0
395,17,60,1.025,0,0,0.0,0.0,0.0,0.0,114,...,51,7200,5.9,0.0,0.0,0.0,1.0,0.0,0.0,0.0
396,58,80,1.025,0,0,0.0,0.0,0.0,0.0,131,...,53,6800,6.1,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [27]:
df2.columns

Index([''age'', ''bp'', ''sg'', ''al'', ''su'', ''rbc'', ''pc'', ''pcc'',
       ''ba'', ''bgr'', ''bu'', ''sc'', ''sod'', ''pot'', ''hemo'', ''pcv'',
       ''wbcc'', ''rbcc'', ''htn'', ''dm'', ''cad'', ''appet'', ''pe'',
       ''ane'', ''class''],
      dtype='object')

In [28]:
df2 = df2.rename(columns={'age': 'Age'})

In [29]:
df2.columns

Index([''age'', ''bp'', ''sg'', ''al'', ''su'', ''rbc'', ''pc'', ''pcc'',
       ''ba'', ''bgr'', ''bu'', ''sc'', ''sod'', ''pot'', ''hemo'', ''pcv'',
       ''wbcc'', ''rbcc'', ''htn'', ''dm'', ''cad'', ''appet'', ''pe'',
       ''ane'', ''class''],
      dtype='object')

In [30]:
df2

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'pcv','wbcc','rbcc','htn','dm','cad','appet','pe','ane','class'
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,32,6700,3.9,1.0,0.0,0.0,0.0,1.0,1.0,1.0
9,53,90,1.020,2,0,1.0,1.0,1.0,0.0,70,...,29,12100,3.7,1.0,1.0,0.0,0.0,0.0,1.0,1.0
11,63,70,1.010,3,0,1.0,1.0,1.0,0.0,380,...,32,4500,3.8,1.0,1.0,0.0,0.0,1.0,0.0,1.0
14,68,80,1.010,3,2,0.0,1.0,1.0,1.0,157,...,16,11000,2.6,1.0,1.0,1.0,0.0,1.0,0.0,1.0
20,61,80,1.015,2,0,1.0,1.0,0.0,0.0,173,...,24,9200,3.2,1.0,1.0,1.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0.0,0.0,0.0,0.0,140,...,47,6700,4.9,0.0,0.0,0.0,1.0,0.0,0.0,0.0
393,42,70,1.025,0,0,0.0,0.0,0.0,0.0,75,...,54,7800,6.2,0.0,0.0,0.0,1.0,0.0,0.0,0.0
394,12,80,1.020,0,0,0.0,0.0,0.0,0.0,100,...,49,6600,5.4,0.0,0.0,0.0,1.0,0.0,0.0,0.0
395,17,60,1.025,0,0,0.0,0.0,0.0,0.0,114,...,51,7200,5.9,0.0,0.0,0.0,1.0,0.0,0.0,0.0
396,58,80,1.025,0,0,0.0,0.0,0.0,0.0,131,...,53,6800,6.1,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [31]:
df2 = df2.astype({"'age'": int, "'sc'": float})

In [32]:
df2.dtypes

'age'        int32
'bp'        object
'sg'        object
'al'        object
'su'        object
'rbc'      float64
'pc'       float64
'pcc'      float64
'ba'       float64
'bgr'       object
'bu'        object
'sc'       float64
'sod'       object
'pot'       object
'hemo'      object
'pcv'       object
'wbcc'      object
'rbcc'      object
'htn'      float64
'dm'       float64
'cad'      float64
'appet'    float64
'pe'       float64
'ane'      float64
'class'    float64
dtype: object

In [33]:
for ind, row in df2.iterrows():
    df2.loc[ind,'GFR'] = (175*row["'sc'"]**-1.154) * (row["'age'"]**-0.203)

In [34]:
df2.columns

Index([''age'', ''bp'', ''sg'', ''al'', ''su'', ''rbc'', ''pc'', ''pcc'',
       ''ba'', ''bgr'', ''bu'', ''sc'', ''sod'', ''pot'', ''hemo'', ''pcv'',
       ''wbcc'', ''rbcc'', ''htn'', ''dm'', ''cad'', ''appet'', ''pe'',
       ''ane'', ''class'', 'GFR'],
      dtype='object')

In [35]:
df2.head()

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'wbcc','rbcc','htn','dm','cad','appet','pe','ane','class',GFR
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,6700,3.9,1.0,0.0,0.0,0.0,1.0,1.0,1.0,17.087393
9,53,90,1.020,2,0,1.0,1.0,1.0,0.0,70,...,12100,3.7,1.0,1.0,0.0,0.0,0.0,1.0,1.0,8.010292
11,63,70,1.010,3,0,1.0,1.0,1.0,0.0,380,...,4500,3.8,1.0,1.0,0.0,0.0,1.0,0.0,1.0,23.987121
14,68,80,1.010,3,2,0.0,1.0,1.0,1.0,157,...,11000,2.6,1.0,1.0,1.0,0.0,1.0,0.0,1.0,14.584319
20,61,80,1.015,2,0,1.0,1.0,0.0,0.0,173,...,9200,3.2,1.0,1.0,1.0,0.0,1.0,1.0,1.0,15.795288

In [36]:

df3 = df2.iloc[:,0:24]

In [37]:
df3

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'hemo','pcv','wbcc','rbcc','htn','dm','cad','appet','pe','ane'
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,11.2,32,6700,3.9,1.0,0.0,0.0,0.0,1.0,1.0
9,53,90,1.020,2,0,1.0,1.0,1.0,0.0,70,...,9.5,29,12100,3.7,1.0,1.0,0.0,0.0,0.0,1.0
11,63,70,1.010,3,0,1.0,1.0,1.0,0.0,380,...,10.8,32,4500,3.8,1.0,1.0,0.0,0.0,1.0,0.0
14,68,80,1.010,3,2,0.0,1.0,1.0,1.0,157,...,5.6,16,11000,2.6,1.0,1.0,1.0,0.0,1.0,0.0
20,61,80,1.015,2,0,1.0,1.0,0.0,0.0,173,...,7.7,24,9200,3.2,1.0,1.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0.0,0.0,0.0,0.0,140,...,15.7,47,6700,4.9,0.0,0.0,0.0,1.0,0.0,0.0
393,42,70,1.025,0,0,0.0,0.0,0.0,0.0,75,...,16.5,54,7800,6.2,0.0,0.0,0.0,1.0,0.0,0.0
394,12,80,1.020,0,0,0.0,0.0,0.0,0.0,100,...,15.8,49,6600,5.4,0.0,0.0,0.0,1.0,0.0,0.0
395,17,60,1.025,0,0,0.0,0.0,0.0,0.0,114,...,14.2,51,7200,5.9,0.0,0.0,0.0,1.0,0.0,0.0
396,58,80,1.025,0,0,0.0,0.0,0.0,0.0,131,...,15.8,53,6800,6.1,0.0,0.0,0.0,1.0,0.0,0.0

In [38]:
df2.loc[:,'extra']=df2["'class'"]

In [39]:
df2

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'rbcc','htn','dm','cad','appet','pe','ane','class',GFR,extra
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,3.9,1.0,0.0,0.0,0.0,1.0,1.0,1.0,17.087393,1.0
9,53,90,1.020,2,0,1.0,1.0,1.0,0.0,70,...,3.7,1.0,1.0,0.0,0.0,0.0,1.0,1.0,8.010292,1.0
11,63,70,1.010,3,0,1.0,1.0,1.0,0.0,380,...,3.8,1.0,1.0,0.0,0.0,1.0,0.0,1.0,23.987121,1.0
14,68,80,1.010,3,2,0.0,1.0,1.0,1.0,157,...,2.6,1.0,1.0,1.0,0.0,1.0,0.0,1.0,14.584319,1.0
20,61,80,1.015,2,0,1.0,1.0,0.0,0.0,173,...,3.2,1.0,1.0,1.0,0.0,1.0,1.0,1.0,15.795288,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0.0,0.0,0.0,0.0,140,...,4.9,0.0,0.0,0.0,1.0,0.0,0.0,0.0,172.636665,0.0
393,42,70,1.025,0,0,0.0,0.0,0.0,0.0,75,...,6.2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,66.396209,0.0
394,12,80,1.020,0,0,0.0,0.0,0.0,0.0,100,...,5.4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,190.536294,0.0
395,17,60,1.025,0,0,0.0,0.0,0.0,0.0,114,...,5.9,0.0,0.0,0.0,1.0,0.0,0.0,0.0,98.459339,0.0
396,58,80,1.025,0,0,0.0,0.0,0.0,0.0,131,...,6.1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,68.753531,0.0

In [40]:
df2["'class'"]=df2['GFR']

In [41]:
df2

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'rbcc','htn','dm','cad','appet','pe','ane','class',GFR,extra
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,3.9,1.0,0.0,0.0,0.0,1.0,1.0,17.087393,17.087393,1.0
9,53,90,1.020,2,0,1.0,1.0,1.0,0.0,70,...,3.7,1.0,1.0,0.0,0.0,0.0,1.0,8.010292,8.010292,1.0
11,63,70,1.010,3,0,1.0,1.0,1.0,0.0,380,...,3.8,1.0,1.0,0.0,0.0,1.0,0.0,23.987121,23.987121,1.0
14,68,80,1.010,3,2,0.0,1.0,1.0,1.0,157,...,2.6,1.0,1.0,1.0,0.0,1.0,0.0,14.584319,14.584319,1.0
20,61,80,1.015,2,0,1.0,1.0,0.0,0.0,173,...,3.2,1.0,1.0,1.0,0.0,1.0,1.0,15.795288,15.795288,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0.0,0.0,0.0,0.0,140,...,4.9,0.0,0.0,0.0,1.0,0.0,0.0,172.636665,172.636665,0.0
393,42,70,1.025,0,0,0.0,0.0,0.0,0.0,75,...,6.2,0.0,0.0,0.0,1.0,0.0,0.0,66.396209,66.396209,0.0
394,12,80,1.020,0,0,0.0,0.0,0.0,0.0,100,...,5.4,0.0,0.0,0.0,1.0,0.0,0.0,190.536294,190.536294,0.0
395,17,60,1.025,0,0,0.0,0.0,0.0,0.0,114,...,5.9,0.0,0.0,0.0,1.0,0.0,0.0,98.459339,98.459339,0.0
396,58,80,1.025,0,0,0.0,0.0,0.0,0.0,131,...,6.1,0.0,0.0,0.0,1.0,0.0,0.0,68.753531,68.753531,0.0

In [42]:
df2.rename(columns = {"'class'":'GFR1'})

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'rbcc','htn','dm','cad','appet','pe','ane',GFR1,GFR,extra
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,3.9,1.0,0.0,0.0,0.0,1.0,1.0,17.087393,17.087393,1.0
9,53,90,1.020,2,0,1.0,1.0,1.0,0.0,70,...,3.7,1.0,1.0,0.0,0.0,0.0,1.0,8.010292,8.010292,1.0
11,63,70,1.010,3,0,1.0,1.0,1.0,0.0,380,...,3.8,1.0,1.0,0.0,0.0,1.0,0.0,23.987121,23.987121,1.0
14,68,80,1.010,3,2,0.0,1.0,1.0,1.0,157,...,2.6,1.0,1.0,1.0,0.0,1.0,0.0,14.584319,14.584319,1.0
20,61,80,1.015,2,0,1.0,1.0,0.0,0.0,173,...,3.2,1.0,1.0,1.0,0.0,1.0,1.0,15.795288,15.795288,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0.0,0.0,0.0,0.0,140,...,4.9,0.0,0.0,0.0,1.0,0.0,0.0,172.636665,172.636665,0.0
393,42,70,1.025,0,0,0.0,0.0,0.0,0.0,75,...,6.2,0.0,0.0,0.0,1.0,0.0,0.0,66.396209,66.396209,0.0
394,12,80,1.020,0,0,0.0,0.0,0.0,0.0,100,...,5.4,0.0,0.0,0.0,1.0,0.0,0.0,190.536294,190.536294,0.0
395,17,60,1.025,0,0,0.0,0.0,0.0,0.0,114,...,5.9,0.0,0.0,0.0,1.0,0.0,0.0,98.459339,98.459339,0.0
396,58,80,1.025,0,0,0.0,0.0,0.0,0.0,131,...,6.1,0.0,0.0,0.0,1.0,0.0,0.0,68.753531,68.753531,0.0

In [43]:
df2['GFR']=df2['extra']

In [44]:
df2

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'rbcc','htn','dm','cad','appet','pe','ane','class',GFR,extra
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,3.9,1.0,0.0,0.0,0.0,1.0,1.0,17.087393,1.0,1.0
9,53,90,1.020,2,0,1.0,1.0,1.0,0.0,70,...,3.7,1.0,1.0,0.0,0.0,0.0,1.0,8.010292,1.0,1.0
11,63,70,1.010,3,0,1.0,1.0,1.0,0.0,380,...,3.8,1.0,1.0,0.0,0.0,1.0,0.0,23.987121,1.0,1.0
14,68,80,1.010,3,2,0.0,1.0,1.0,1.0,157,...,2.6,1.0,1.0,1.0,0.0,1.0,0.0,14.584319,1.0,1.0
20,61,80,1.015,2,0,1.0,1.0,0.0,0.0,173,...,3.2,1.0,1.0,1.0,0.0,1.0,1.0,15.795288,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0.0,0.0,0.0,0.0,140,...,4.9,0.0,0.0,0.0,1.0,0.0,0.0,172.636665,0.0,0.0
393,42,70,1.025,0,0,0.0,0.0,0.0,0.0,75,...,6.2,0.0,0.0,0.0,1.0,0.0,0.0,66.396209,0.0,0.0
394,12,80,1.020,0,0,0.0,0.0,0.0,0.0,100,...,5.4,0.0,0.0,0.0,1.0,0.0,0.0,190.536294,0.0,0.0
395,17,60,1.025,0,0,0.0,0.0,0.0,0.0,114,...,5.9,0.0,0.0,0.0,1.0,0.0,0.0,98.459339,0.0,0.0
396,58,80,1.025,0,0,0.0,0.0,0.0,0.0,131,...,6.1,0.0,0.0,0.0,1.0,0.0,0.0,68.753531,0.0,0.0

In [45]:
df3 = df2.iloc[:,0:26]

In [46]:
df3

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'wbcc','rbcc','htn','dm','cad','appet','pe','ane','class',GFR
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,6700,3.9,1.0,0.0,0.0,0.0,1.0,1.0,17.087393,1.0
9,53,90,1.020,2,0,1.0,1.0,1.0,0.0,70,...,12100,3.7,1.0,1.0,0.0,0.0,0.0,1.0,8.010292,1.0
11,63,70,1.010,3,0,1.0,1.0,1.0,0.0,380,...,4500,3.8,1.0,1.0,0.0,0.0,1.0,0.0,23.987121,1.0
14,68,80,1.010,3,2,0.0,1.0,1.0,1.0,157,...,11000,2.6,1.0,1.0,1.0,0.0,1.0,0.0,14.584319,1.0
20,61,80,1.015,2,0,1.0,1.0,0.0,0.0,173,...,9200,3.2,1.0,1.0,1.0,0.0,1.0,1.0,15.795288,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0.0,0.0,0.0,0.0,140,...,6700,4.9,0.0,0.0,0.0,1.0,0.0,0.0,172.636665,0.0
393,42,70,1.025,0,0,0.0,0.0,0.0,0.0,75,...,7800,6.2,0.0,0.0,0.0,1.0,0.0,0.0,66.396209,0.0
394,12,80,1.020,0,0,0.0,0.0,0.0,0.0,100,...,6600,5.4,0.0,0.0,0.0,1.0,0.0,0.0,190.536294,0.0
395,17,60,1.025,0,0,0.0,0.0,0.0,0.0,114,...,7200,5.9,0.0,0.0,0.0,1.0,0.0,0.0,98.459339,0.0
396,58,80,1.025,0,0,0.0,0.0,0.0,0.0,131,...,6800,6.1,0.0,0.0,0.0,1.0,0.0,0.0,68.753531,0.0

In [47]:
df3

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'wbcc','rbcc','htn','dm','cad','appet','pe','ane','class',GFR
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,6700,3.9,1.0,0.0,0.0,0.0,1.0,1.0,17.087393,1.0
9,53,90,1.020,2,0,1.0,1.0,1.0,0.0,70,...,12100,3.7,1.0,1.0,0.0,0.0,0.0,1.0,8.010292,1.0
11,63,70,1.010,3,0,1.0,1.0,1.0,0.0,380,...,4500,3.8,1.0,1.0,0.0,0.0,1.0,0.0,23.987121,1.0
14,68,80,1.010,3,2,0.0,1.0,1.0,1.0,157,...,11000,2.6,1.0,1.0,1.0,0.0,1.0,0.0,14.584319,1.0
20,61,80,1.015,2,0,1.0,1.0,0.0,0.0,173,...,9200,3.2,1.0,1.0,1.0,0.0,1.0,1.0,15.795288,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0.0,0.0,0.0,0.0,140,...,6700,4.9,0.0,0.0,0.0,1.0,0.0,0.0,172.636665,0.0
393,42,70,1.025,0,0,0.0,0.0,0.0,0.0,75,...,7800,6.2,0.0,0.0,0.0,1.0,0.0,0.0,66.396209,0.0
394,12,80,1.020,0,0,0.0,0.0,0.0,0.0,100,...,6600,5.4,0.0,0.0,0.0,1.0,0.0,0.0,190.536294,0.0
395,17,60,1.025,0,0,0.0,0.0,0.0,0.0,114,...,7200,5.9,0.0,0.0,0.0,1.0,0.0,0.0,98.459339,0.0
396,58,80,1.025,0,0,0.0,0.0,0.0,0.0,131,...,6800,6.1,0.0,0.0,0.0,1.0,0.0,0.0,68.753531,0.0

In [48]:
df3=df3.rename(columns = {"'class'":"'GFR'",'GFR':"'class'"})

In [49]:
df3

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'wbcc','rbcc','htn','dm','cad','appet','pe','ane','GFR','class'
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,6700,3.9,1.0,0.0,0.0,0.0,1.0,1.0,17.087393,1.0
9,53,90,1.020,2,0,1.0,1.0,1.0,0.0,70,...,12100,3.7,1.0,1.0,0.0,0.0,0.0,1.0,8.010292,1.0
11,63,70,1.010,3,0,1.0,1.0,1.0,0.0,380,...,4500,3.8,1.0,1.0,0.0,0.0,1.0,0.0,23.987121,1.0
14,68,80,1.010,3,2,0.0,1.0,1.0,1.0,157,...,11000,2.6,1.0,1.0,1.0,0.0,1.0,0.0,14.584319,1.0
20,61,80,1.015,2,0,1.0,1.0,0.0,0.0,173,...,9200,3.2,1.0,1.0,1.0,0.0,1.0,1.0,15.795288,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0.0,0.0,0.0,0.0,140,...,6700,4.9,0.0,0.0,0.0,1.0,0.0,0.0,172.636665,0.0
393,42,70,1.025,0,0,0.0,0.0,0.0,0.0,75,...,7800,6.2,0.0,0.0,0.0,1.0,0.0,0.0,66.396209,0.0
394,12,80,1.020,0,0,0.0,0.0,0.0,0.0,100,...,6600,5.4,0.0,0.0,0.0,1.0,0.0,0.0,190.536294,0.0
395,17,60,1.025,0,0,0.0,0.0,0.0,0.0,114,...,7200,5.9,0.0,0.0,0.0,1.0,0.0,0.0,98.459339,0.0
396,58,80,1.025,0,0,0.0,0.0,0.0,0.0,131,...,6800,6.1,0.0,0.0,0.0,1.0,0.0,0.0,68.753531,0.0

In [50]:
from sklearn.feature_selection import SelectKBest

In [51]:
from sklearn.feature_selection import chi2

In [52]:
X = df3.iloc[:,0:25] 
y = df3.iloc[:,-1]

In [53]:
bestfeatures = SelectKBest(score_func=chi2, k=10)

In [54]:
bestfeatures

SelectKBest(score_func=<function chi2 at 0x0000022CD1E30700>)

In [55]:
fit = bestfeatures.fit(X,y)

In [72]:
dfscores = pd.DataFrame(fit.scores_)

In [57]:
dfcolumns = pd.DataFrame(X.columns)

In [58]:
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']

In [59]:
featureScores

      Specs         Score
0     'age'     74.393425
1      'bp'     28.051093
2      'sg'      0.002912
3      'al'    334.046512
4      'su'    106.046512
5     'rbc'     47.720930
6      'pc'     76.883721
7     'pcc'     37.116279
8      'ba'     31.813953
9     'bgr'   1755.424821
10     'bu'   3082.167179
11     'sc'    332.805696
12    'sod'     25.901641
13    'pot'      9.497849
14   'hemo'     66.417775
15    'pcv'    212.611176
16   'wbcc'  30536.048151
17   'rbcc'     17.343596
18    'htn'     90.139535
19     'dm'     74.232558
20    'cad'     29.162791
21  'appet'      6.935288
22     'pe'     53.023256
23    'ane'     42.418605
24    'GFR'   2779.419623

In [60]:
print(featureScores.nlargest(10,'Score'))  #print 10 best features

     Specs         Score
16  'wbcc'  30536.048151
10    'bu'   3082.167179
24   'GFR'   2779.419623
9    'bgr'   1755.424821
3     'al'    334.046512
11    'sc'    332.805696
15   'pcv'    212.611176
4     'su'    106.046512
18   'htn'     90.139535
6     'pc'     76.883721

In [64]:
for ind, row in df3.iterrows():
    df3.loc[ind,'Stages'] = stage(df3.loc[ind,'GFR'])

NameError: name 'stage' is not defined

In [62]:
def stages(GFR):
   if GFR>90.00:
       value=1
       return value
   elif GFR>60.00 and GFR<90.00:
               value=2
               return value
   elif GFR>30.00 and GFR<59.00:
               value=3
               return value
   elif GFR>15.00 and GFR<30.00:
               value=4
               return value
   elif GFR<15.00:
               value=5
               return value

df3['Stage']=df3["'GFR'"].apply(stages)

In [65]:
df3

,'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr',...,'rbcc','htn','dm','cad','appet','pe','ane','GFR','class',Stage
3,48,70,1.005,4,0,0.0,1.0,1.0,0.0,117,...,3.9,1.0,0.0,0.0,0.0,1.0,1.0,17.087393,1.0,4
9,53,90,1.020,2,0,1.0,1.0,1.0,0.0,70,...,3.7,1.0,1.0,0.0,0.0,0.0,1.0,8.010292,1.0,5
11,63,70,1.010,3,0,1.0,1.0,1.0,0.0,380,...,3.8,1.0,1.0,0.0,0.0,1.0,0.0,23.987121,1.0,4
14,68,80,1.010,3,2,0.0,1.0,1.0,1.0,157,...,2.6,1.0,1.0,1.0,0.0,1.0,0.0,14.584319,1.0,5
20,61,80,1.015,2,0,1.0,1.0,0.0,0.0,173,...,3.2,1.0,1.0,1.0,0.0,1.0,1.0,15.795288,1.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,55,80,1.020,0,0,0.0,0.0,0.0,0.0,140,...,4.9,0.0,0.0,0.0,1.0,0.0,0.0,172.636665,0.0,1
393,42,70,1.025,0,0,0.0,0.0,0.0,0.0,75,...,6.2,0.0,0.0,0.0,1.0,0.0,0.0,66.396209,0.0,2
394,12,80,1.020,0,0,0.0,0.0,0.0,0.0,100,...,5.4,0.0,0.0,0.0,1.0,0.0,0.0,190.536294,0.0,1
395,17,60,1.025,0,0,0.0,0.0,0.0,0.0,114,...,5.9,0.0,0.0,0.0,1.0,0.0,0.0,98.459339,0.0,1
396,58,80,1.025,0,0,0.0,0.0,0.0,0.0,131,...,6.1,0.0,0.0,0.0,1.0,0.0,0.0,68.753531,0.0,2